$wideminwidth:720px;
$confortableminwidth:1020px;

$logo: '/images/logo.png' !default;

// Paths
$fonts_dir : '~corteza-webapp-messaging/src/themes/corteza-base/fonts/' !default;
$icomoon-font-path: $fonts_dir + 'icomoon' !default;
$icomoon-font-family: "icomoon" !default;

// Typography
$regular: 'nunito_sansregular';
$bold: 'nunito_sansbold';
$semibold: 'nunito_sanssemibold';

// Color system
$white:         #fff !default;
$black:         #000 !default;
$primary:       #1397CB !default;
$secondary:     #90A3B1 !default;
$success:       #2FBC95 !default;
$warning:       #FFCC32 !default;
$danger:        #E85568 !default;
$light:         #F3F3F5 !default;
$dark:          #1e2224 !default;
$currentmymessagebgcolor : #a7d0e3 !default;
